.hero-section{
    background-color:cyan ;
  background-image: url("img/golf-5490886_1280.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height:500px;
}

